.foundation {
  @apply w-full  overflow-auto bg-gray-500 h-full fixed top-0 left-0 bg-opacity-30 z-10 pt-4;
  .dialog {
    @apply bg-white shadow-lg w-1/2 m-auto rounded;
    @keyframes fadeIn {
      from {
        @apply hidden;
      }

      to {
        @apply block;
      }
    }
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: linear;
  }
}
